.buttonsContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.networkButton{
    font-size: 10px;
    display: flex;
    justify-content: center;
    border: none;
    margin: 5px;
    color: black;
}