
.avatarNetworkContainer{
    display: flex;
    flex-direction: column;
    width: 90px;
    padding: 9px 10px;
    position: relative;
}

.avatarNetworkImageContainer {
    display: flex;
    align-content: center;
    justify-content: left;
    position: absolute;
    width: 100%;
    flex: 1;
  }

  .avatarNetworkImage{
    object-fit: cover;
    max-height: 100px;
    width: 90px;
  }

  .avatarNetworkLabelContainer{
    position: absolute;
    bottom: 9px;
    width: 90px;
  }

  .avatarNetworkRequestLabel{
    width: 100%;
    border-radius: 4px;
    height: 20px;
    color: black;
    font-size: 8px;
  }