.informationBox {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #c08d42;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 60%;
  padding: 5px;
  max-width: 600px;
  box-shadow: 1px 2px #8888;
}

@media (max-width: 574px){
.informationBox {
  width: 90%;
  font-size: 14px;
}
}