/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Custom color theme properties */
:root {
  --f7-theme-color: #c08d42;
  --f7-theme-color-rgb: 192, 141, 66;
  --f7-theme-color-shade: #a37736;
  --f7-theme-color-tint: #ca9f61;
}

/* Your app custom styles here */
.color-theme-red{
  --f7-theme-color: #bb0000;
  --f7-theme-color-rgb: 187, 0, 0;
  --f7-theme-color-shade: #ac0000;
  --f7-theme-color-tint: #d40000;
}

.color-theme-green{
  --f7-theme-color: #78AB46;
  --f7-theme-color-rgb: 120, 171, 70;
  --f7-theme-color-shade: #6e9d40;
  --f7-theme-color-tint: #82b74f;
}

.color-theme-orange{
  --f7-theme-color: #e47833;
  --f7-theme-color-rgb: 228, 120, 51;
  --f7-theme-color-shade: #e16a1f;
  --f7-theme-color-tint: #e68243;
}
