.profilePage {
  
}

.profilePageButtonContainer {
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  justify-content: center;
}

.profilePageModalButton{
  border: none;
  background: white;
}

.profilePageFormContainer{
  padding: 1rem;
}

.adjust-content-left{
  width: 10rem;
  margin: 0 auto 0 0;
}

.AddNewSkillsInputContainer{
  width: 25rem;
}

.ProfilePageSkillsFormAddButtonContainer{
  margin: 1.2em 0;
}

@media (max-width: 769px){
  .profilePageButtonContainer {
    flex-direction: column;
    align-items: center;
  }
}