.profileInformationContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.profileImageNetworkContainer {
  display: flex;
  align-content: center;
  justify-content: center;
  min-width: 120px;
  flex: 1;
}

.profileInformationNetworkContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 4;
}

.profileInformationNetworkName{
  flex: 1;
  font-size: medium;
}

.profileInformationNetworkRequest{
  flex: 1;
  font-size: small;
}

.profileInformationImage{
  max-height: 96px;
  max-width: 96px;
  border-radius: 50%;
}

@media screen and (max-width: 600px){
  
  .profileInformationNetworkContainer{
    display: flex;
    flex-direction: column;
  }

  .profileInformationNetworkName p{
    font-size: 12px;
    margin: 10px 0;
  }

  .profileInformationNetworkRequest p{
    font-size: 10px;
    margin: 0;
  }
}
