.profileInformationContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.profileImageNetworkContainer {
  display: flex;
  align-content: center;
  justify-content: left;
  padding: 15px 5px;
  min-width: 100px;
  flex: 1;
}

.profileInformationNetworkContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 4;
}

.profileInformationNetworkName{
  display: flex;
  align-items: flex-end;
  flex: 1;
  font-size: medium;
}

.profileInformationNetworkRequest{
  flex: 1;
  font-size: small;
}

.profileInformationImage{
  object-fit: cover;
  max-height: 96px;
  width: 96px;
  border-radius: 50%;
  border: 2px solid #c08d42;
}

@media screen and (max-width: 600px){
  
  .profileInformationNetworkContainer{
    display: flex;
    flex-direction: column;
  }

  .profileInformationNetworkName p{
    font-size: 12px;
    margin: 0 0;
  }

  .profileInformationNetworkRequest p{
    font-size: 10px;
    margin: 0;
  }
}
